#formWrapper {
    position: absolute;
    width: inherit;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
}

/*#tableWrapper {*/
    /*position: absolute;*/
    /*width: inherit;*/
    /*top: 100px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
/*}*/

#rankingTable {
    font-family: MenuFont;
    font-size: 20px;
    position: absolute;
    width: inherit;
    top: 275px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #000;
}

/*#rankingTable {*/
    /*font-family: MenuFont;*/
    /*font-size: 20px;*/
    /*width: 338px;*/
    /*margin: 275px auto 0;*/
    /*text-align: center;*/
    /*color: #111;*/
    /*margin: 0;*/
/*}*/

table {
    background-color: rgba(138, 138, 159, 0.7);
}

.innerForm {
    width: 220px;
    margin-left: auto;
    margin-right: auto;
}

.formBody {
    background-color: rgba(138, 138, 159, 0.7);
    border: 3px solid rgba(62, 62, 62, 0.75);
    border-radius: 5px;
    width: 500px;
    padding: 10px 10px 20px;
}

/*.formBody h2 {*/
/*text-align: center;*/
/*}*/

#loginArea {
    margin: 100px auto 0;
}

#captchaForm {
    margin: -150px auto 0;
    width: 200px;
}

#registerArea {
    margin: 100px auto 0;
}

#changePWArea {
    margin: 100px auto 0;
}

#forgotPasswordArea {
    margin: 100px auto 0;
}

#responseRegister {
    color: #A30000;
    font-weight: bold;
}

#responseLogin {
    color: #A30000;
    font-weight: bold;
}

#responseForgotPW {
    height: 15px;
    margin-bottom: 20px;
    font-weight: bold;
}

#responseChangePW {
    font-weight: bold;
}

.positive {
    color: #17E150;
}

.neutral {
    color: #EEEC2F;
}

.negative {
    color: #A30000;
}

#settingsMenu, #popupSlider {
    position: absolute;
    width: inherit;
    top: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#popupSlider {
    top: 160px;
}

#sliderMusic, #sliderSound, #popupMusic, #popupSound {
    margin-right: auto; margin-left: auto; width: 250px;
    top: 18px;
}